In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\analise_exploratoria\dados\insect.csv"
df = pd.read_csv(PATH)

In [2]:
df.head()

   count spray
0     10     A
1      7     A
2     20     A
3     14     A
4     14     A

In [3]:
df.shape

(72, 2)