In [3]:
import pandas as pd

## Revisão

In [2]:
dados = {
    'nome':['Téo', 'Nath', 'Ste'],
    'idade':[31, 22, 21]
}

In [7]:
df = pd.DataFrame(dados)
df

   nome  idade
0   Téo     31
1  Nath     22
2   Ste     21

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [15]:
df['nome'].iloc[-1]

'Ste'

In [12]:
df.describe()

           idade
count   3.000000
mean   24.666667
std     5.507571
min    21.000000
25%    21.500000
50%    22.000000
75%    26.500000
max    31.000000

In [13]:
df['nome'].describe()

count       3
unique      3
top       Téo
freq        1
Name: nome, dtype: object

In [14]:
df['idade'].mean()

np.float64(24.666666666666668)

## importando arquivos

In [26]:
PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\pandas\data\customers.csv"

In [27]:
df = pd.read_csv(PATH, sep=';')
df

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
786  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
787  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
788  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
789  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
790  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[791 rows x 3 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    791 non-null    object
 1   Name    791 non-null    object
 2   Points  791 non-null    int64
dtypes: int64(1), object(2)
memory usage: 18.7+ KB

In [29]:
df.shape

(791, 3)

In [30]:
df['Points'].astype(int)

0       792
1      1375
2       421
3      4063
4         0
       ...
786      53
787      50
788      50
789      50
790      52
Name: Points, Length: 791, dtype: int64

In [31]:
df['Points'].describe()

count     791.000000
mean      206.697851
std       411.585592
min         0.000000
25%        50.000000
50%        58.000000
75%       184.000000
max      4304.000000
Name: Points, dtype: float64

In [32]:
df['Points'].max()

np.int64(4304)

In [34]:
df.loc[df['Points'] == df['Points'].max()]

                                     UUID      Name  Points
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3  marxzera    4304

In [38]:
condicao = df['Points'] > 1000

In [39]:
df[condicao]

                                     UUID                  Name  Points
1    2d3d2dce-d353-4961-ad39-46723efe2100         mariicmartins    1375
3    65662aff-44d6-4f06-b9d9-07445c6e5943                kozat0    4063
5    b2f9d026-0727-4125-b84b-c60af3148a15              dcha0tic    2080
26   54edd84d-73ad-4821-8d53-7ed04f00b2e4           kaycristina    1153
29   a1478518-6bf1-41e7-895b-355a06554b96           talismacedo    1116
34   99431a0f-1f38-47ab-9136-445c7afae00d        nicolaslima167    1364
43   af4f97a5-90a8-4ebf-8420-d7766ad093ea             ldbressan    1038
47   4c77c153-19b9-42e2-a03c-04f43dcc6105       vinnyportugal07    1211
59   21943df7-272e-46ef-aeb7-933a6637bfd5           gabra_alves    1013
60   2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1           dabathehutt    1307
68   74c06e4d-0d4f-48f1-96af-a03c7b18ce47            thamibetin    1940
77   98953b1a-ae7e-4e50-b264-bdda6c3a4a6d           ericcamacho    1423
85   b0847d5b-c1dd-41cc-8302-b451c8674c0e       gettodachoppaaa    2082
99   8151fff4-0b51-4577-ae0b-4622d244d324             neelister    1214
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32       unbiaseddestiny    2210
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580          itsevolution    4262
122  46119557-7ce9-488f-9225-47d539dd414e              kallklen    2272
126  803debdb-8136-4cb5-af29-dcd8db36bf2c              lucasnv_    1173
139  ce61fa42-2854-42d4-b20d-e9348e9d76e1             chicovivo    1324
145  24782f0b-4683-4f35-976a-ea21d6714ba6  medalutadorespacialx    2014
149  9c909d1e-fa2a-47b0-8535-d9e44375f9f8            marcos_oap    1213
156  8cf8e162-bcf1-4a68-9ea5-44ec75484734               reis131    1247
178  161bf8aa-33f9-42a3-b48f-97199c8370d1              zackwild    1146
200  10d18590-4365-465c-8174-311c38d3a548            telbatesbr    1026
203  7be4584b-288b-4027-a2fe-29d206313917                censeu    1301
225  a6cc4ba8-3d4b-4f6e-8588-418c11ed095e            hugonyland    2114
273  9c49a075-02a6-4a14-bc38-7b3bf18aa723   patriciasilvarecife    1100
274  5ed09fff-c0eb-48db-b6e3-20ef238e8b5c      gustavolourenco_    1287
379  ce0f9a00-3862-40ee-84bc-1aba65c19e15               edbruxo    1400
418  d6f92668-964e-462c-93e9-25e7771a5852             eduard0ml    1144
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3              marxzera    4304
450  52e4293d-0b9c-4215-be0d-e0d63e3536b3              nicosp90    1828
496  7107771a-0558-4aaa-a66e-570205a7f367               leogend    1607
497  3f55b86f-dc21-4ac8-8e89-7c1535359eaf          tapioca_amin    1394
507  24ef9aed-ab90-41bf-bf90-88d17210d1b2           thiagolange    1263
532  87040a44-0e04-4cc1-ad91-072d167b11b1        inimigodomouse    1606
735  f39b1da2-7633-4d8f-99b4-6ffd1e0f0d23       gleicearaujo_ds    1204

In [43]:
df[df['Points'] == df['Points'].max()]['Name']

436    marxzera
Name: Name, dtype: object

In [44]:
df[df['Points'] == df['Points'].max()]['Name'].iloc[0]

'marxzera'

In [45]:
cond = (df['Points'] >= 1000) & (df['Points'] <= 2000)
df[cond]

                                     UUID                 Name  Points
1    2d3d2dce-d353-4961-ad39-46723efe2100        mariicmartins    1375
26   54edd84d-73ad-4821-8d53-7ed04f00b2e4          kaycristina    1153
29   a1478518-6bf1-41e7-895b-355a06554b96          talismacedo    1116
34   99431a0f-1f38-47ab-9136-445c7afae00d       nicolaslima167    1364
43   af4f97a5-90a8-4ebf-8420-d7766ad093ea            ldbressan    1038
47   4c77c153-19b9-42e2-a03c-04f43dcc6105      vinnyportugal07    1211
59   21943df7-272e-46ef-aeb7-933a6637bfd5          gabra_alves    1013
60   2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1          dabathehutt    1307
68   74c06e4d-0d4f-48f1-96af-a03c7b18ce47           thamibetin    1940
77   98953b1a-ae7e-4e50-b264-bdda6c3a4a6d          ericcamacho    1423
99   8151fff4-0b51-4577-ae0b-4622d244d324            neelister    1214
126  803debdb-8136-4cb5-af29-dcd8db36bf2c             lucasnv_    1173
139  ce61fa42-2854-42d4-b20d-e9348e9d76e1            chicovivo    1324
149  9c909d1e-fa2a-47b0-8535-d9e44375f9f8           marcos_oap    1213
156  8cf8e162-bcf1-4a68-9ea5-44ec75484734              reis131    1247
178  161bf8aa-33f9-42a3-b48f-97199c8370d1             zackwild    1146
200  10d18590-4365-465c-8174-311c38d3a548           telbatesbr    1026
203  7be4584b-288b-4027-a2fe-29d206313917               censeu    1301
273  9c49a075-02a6-4a14-bc38-7b3bf18aa723  patriciasilvarecife    1100
274  5ed09fff-c0eb-48db-b6e3-20ef238e8b5c     gustavolourenco_    1287
379  ce0f9a00-3862-40ee-84bc-1aba65c19e15              edbruxo    1400
418  d6f92668-964e-462c-93e9-25e7771a5852            eduard0ml    1144
450  52e4293d-0b9c-4215-be0d-e0d63e3536b3             nicosp90    1828
496  7107771a-0558-4aaa-a66e-570205a7f367              leogend    1607
497  3f55b86f-dc21-4ac8-8e89-7c1535359eaf         tapioca_amin    1394
507  24ef9aed-ab90-41bf-bf90-88d17210d1b2          thiagolange    1263
532  87040a44-0e04-4cc1-ad91-072d167b11b1       inimigodomouse    1606
735  f39b1da2-7633-4d8f-99b4-6ffd1e0f0d23      gleicearaujo_ds    1204