In [3]:
import pandas as pd

In [2]:
dados = {
    'nome':['Téo', 'Nath', 'Ste'],
    'idade':[31, 22, 21]
}

In [7]:
df = pd.DataFrame(dados)
df

   nome  idade
0   Téo     31
1  Nath     22
2   Ste     21

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [15]:
df['nome'].iloc[-1]

'Ste'

In [12]:
df.describe()

           idade
count   3.000000
mean   24.666667
std     5.507571
min    21.000000
25%    21.500000
50%    22.000000
75%    26.500000
max    31.000000

In [13]:
df['nome'].describe()

count       3
unique      3
top       Téo
freq        1
Name: nome, dtype: object

In [14]:
df['idade'].mean()

np.float64(24.666666666666668)