In [3]:
import pandas as pd

## Revisão

In [2]:
dados = {
    'nome':['Téo', 'Nath', 'Ste'],
    'idade':[31, 22, 21]
}

In [7]:
df = pd.DataFrame(dados)
df

   nome  idade
0   Téo     31
1  Nath     22
2   Ste     21

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [15]:
df['nome'].iloc[-1]

'Ste'

In [12]:
df.describe()

           idade
count   3.000000
mean   24.666667
std     5.507571
min    21.000000
25%    21.500000
50%    22.000000
75%    26.500000
max    31.000000

In [13]:
df['nome'].describe()

count       3
unique      3
top       Téo
freq        1
Name: nome, dtype: object

In [14]:
df['idade'].mean()

np.float64(24.666666666666668)

## importando arquivos

In [26]:
PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\pandas\data\customers.csv"

In [27]:
df = pd.read_csv(PATH, sep=';')
df

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
786  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
787  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
788  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
789  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
790  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[791 rows x 3 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    791 non-null    object
 1   Name    791 non-null    object
 2   Points  791 non-null    int64
dtypes: int64(1), object(2)
memory usage: 18.7+ KB

In [29]:
df.shape

(791, 3)

In [30]:
df['Points'].astype(int)

0       792
1      1375
2       421
3      4063
4         0
       ...
786      53
787      50
788      50
789      50
790      52
Name: Points, Length: 791, dtype: int64

In [31]:
df['Points'].describe()

count     791.000000
mean      206.697851
std       411.585592
min         0.000000
25%        50.000000
50%        58.000000
75%       184.000000
max      4304.000000
Name: Points, dtype: float64

In [32]:
df['Points'].max()

np.int64(4304)

In [34]:
df.loc[df['Points'] == df['Points'].max()]

                                     UUID      Name  Points
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3  marxzera    4304

In [38]:
condicao = df['Points'] > 1000

In [39]:
df[condicao]

                                     UUID                  Name  Points
1    2d3d2dce-d353-4961-ad39-46723efe2100         mariicmartins    1375
3    65662aff-44d6-4f06-b9d9-07445c6e5943                kozat0    4063
5    b2f9d026-0727-4125-b84b-c60af3148a15              dcha0tic    2080
26   54edd84d-73ad-4821-8d53-7ed04f00b2e4           kaycristina    1153
29   a1478518-6bf1-41e7-895b-355a06554b96           talismacedo    1116
34   99431a0f-1f38-47ab-9136-445c7afae00d        nicolaslima167    1364
43   af4f97a5-90a8-4ebf-8420-d7766ad093ea             ldbressan    1038
47   4c77c153-19b9-42e2-a03c-04f43dcc6105       vinnyportugal07    1211
59   21943df7-272e-46ef-aeb7-933a6637bfd5           gabra_alves    1013
60   2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1           dabathehutt    1307
68   74c06e4d-0d4f-48f1-96af-a03c7b18ce47            thamibetin    1940
77   98953b1a-ae7e-4e50-b264-bdda6c3a4a6d           ericcamacho    1423
85   b0847d5b-c1dd-41cc-8302-b451c8674c0e       gettodachoppaaa    2082
99   8151fff4-0b51-4577-ae0b-4622d244d324             neelister    1214
118  3bd342b6-e5ff-456b-b8e7-8aabbe9f0a32       unbiaseddestiny    2210
120  9aba2685-7c0a-4d1f-8e22-0c47ca0af580          itsevolution    4262
122  46119557-7ce9-488f-9225-47d539dd414e              kallklen    2272
126  803debdb-8136-4cb5-af29-dcd8db36bf2c              lucasnv_    1173
139  ce61fa42-2854-42d4-b20d-e9348e9d76e1             chicovivo    1324
145  24782f0b-4683-4f35-976a-ea21d6714ba6  medalutadorespacialx    2014
149  9c909d1e-fa2a-47b0-8535-d9e44375f9f8            marcos_oap    1213
156  8cf8e162-bcf1-4a68-9ea5-44ec75484734               reis131    1247
178  161bf8aa-33f9-42a3-b48f-97199c8370d1              zackwild    1146
200  10d18590-4365-465c-8174-311c38d3a548            telbatesbr    1026
203  7be4584b-288b-4027-a2fe-29d206313917                censeu    1301
225  a6cc4ba8-3d4b-4f6e-8588-418c11ed095e            hugonyland    2114
273  9c49a075-02a6-4a14-bc38-7b3bf18aa723   patriciasilvarecife    1100
274  5ed09fff-c0eb-48db-b6e3-20ef238e8b5c      gustavolourenco_    1287
379  ce0f9a00-3862-40ee-84bc-1aba65c19e15               edbruxo    1400
418  d6f92668-964e-462c-93e9-25e7771a5852             eduard0ml    1144
436  066c9fc6-f704-4165-a8f3-3d1968b0d4a3              marxzera    4304
450  52e4293d-0b9c-4215-be0d-e0d63e3536b3              nicosp90    1828
496  7107771a-0558-4aaa-a66e-570205a7f367               leogend    1607
497  3f55b86f-dc21-4ac8-8e89-7c1535359eaf          tapioca_amin    1394
507  24ef9aed-ab90-41bf-bf90-88d17210d1b2           thiagolange    1263
532  87040a44-0e04-4cc1-ad91-072d167b11b1        inimigodomouse    1606
735  f39b1da2-7633-4d8f-99b4-6ffd1e0f0d23       gleicearaujo_ds    1204

In [43]:
df[df['Points'] == df['Points'].max()]['Name']

436    marxzera
Name: Name, dtype: object

In [44]:
df[df['Points'] == df['Points'].max()]['Name'].iloc[0]

'marxzera'

In [45]:
cond = (df['Points'] >= 1000) & (df['Points'] <= 2000)
df[cond]

                                     UUID                 Name  Points
1    2d3d2dce-d353-4961-ad39-46723efe2100        mariicmartins    1375
26   54edd84d-73ad-4821-8d53-7ed04f00b2e4          kaycristina    1153
29   a1478518-6bf1-41e7-895b-355a06554b96          talismacedo    1116
34   99431a0f-1f38-47ab-9136-445c7afae00d       nicolaslima167    1364
43   af4f97a5-90a8-4ebf-8420-d7766ad093ea            ldbressan    1038
47   4c77c153-19b9-42e2-a03c-04f43dcc6105      vinnyportugal07    1211
59   21943df7-272e-46ef-aeb7-933a6637bfd5          gabra_alves    1013
60   2a9d4ba3-4c58-47f9-8dc4-6f9cb50be1b1          dabathehutt    1307
68   74c06e4d-0d4f-48f1-96af-a03c7b18ce47           thamibetin    1940
77   98953b1a-ae7e-4e50-b264-bdda6c3a4a6d          ericcamacho    1423
99   8151fff4-0b51-4577-ae0b-4622d244d324            neelister    1214
126  803debdb-8136-4cb5-af29-dcd8db36bf2c             lucasnv_    1173
139  ce61fa42-2854-42d4-b20d-e9348e9d76e1            chicovivo    1324
149  9c909d1e-fa2a-47b0-8535-d9e44375f9f8           marcos_oap    1213
156  8cf8e162-bcf1-4a68-9ea5-44ec75484734              reis131    1247
178  161bf8aa-33f9-42a3-b48f-97199c8370d1             zackwild    1146
200  10d18590-4365-465c-8174-311c38d3a548           telbatesbr    1026
203  7be4584b-288b-4027-a2fe-29d206313917               censeu    1301
273  9c49a075-02a6-4a14-bc38-7b3bf18aa723  patriciasilvarecife    1100
274  5ed09fff-c0eb-48db-b6e3-20ef238e8b5c     gustavolourenco_    1287
379  ce0f9a00-3862-40ee-84bc-1aba65c19e15              edbruxo    1400
418  d6f92668-964e-462c-93e9-25e7771a5852            eduard0ml    1144
450  52e4293d-0b9c-4215-be0d-e0d63e3536b3             nicosp90    1828
496  7107771a-0558-4aaa-a66e-570205a7f367              leogend    1607
497  3f55b86f-dc21-4ac8-8e89-7c1535359eaf         tapioca_amin    1394
507  24ef9aed-ab90-41bf-bf90-88d17210d1b2          thiagolange    1263
532  87040a44-0e04-4cc1-ad91-072d167b11b1       inimigodomouse    1606
735  f39b1da2-7633-4d8f-99b4-6ffd1e0f0d23      gleicearaujo_ds    1204

In [47]:
df[['UUID','Name']]

                                     UUID              Name
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17
..                                    ...               ...
786  4a36c617-b018-436a-babc-4374461ab87b         null__var
787  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles
788  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri
789  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu
790  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh

[791 rows x 2 columns]

In [51]:
colunas = df.columns.tolist()
colunas.sort()
colunas

['Name', 'Points', 'UUID']

In [53]:
df = df[colunas]
df

                 Name  Points                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
786         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
787         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
788  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
789          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
790            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[791 rows x 3 columns]

In [54]:
dict_nomes = {
    'Name':'Nomes',
    'Points':"Pontos"
}

In [56]:
df = df.rename(columns=dict_nomes)
df

                Nomes  Pontos                                  UUID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
786         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
787         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
788  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
789          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
790            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[791 rows x 3 columns]

In [57]:
df.rename(columns={"UUID":"ID"}, inplace=True)
df

                Nomes  Pontos                                    ID
0           afonso_rf     792  aa3eaf74-6d9c-4859-b733-5a18a3b2f71b
1       mariicmartins    1375  2d3d2dce-d353-4961-ad39-46723efe2100
2             tdlupus     421  ca95ef2a-5129-40f4-acbc-2ced25940032
3              kozat0    4063  65662aff-44d6-4f06-b9d9-07445c6e5943
4              gu1z17       0  98b960e7-6b7b-45b7-b7af-60bca40e04b9
..                ...     ...                                   ...
786         null__var      53  4a36c617-b018-436a-babc-4374461ab87b
787         lmadriles      50  403db18e-941e-4e63-ba23-e63c0515876a
788  eduardo_cofferri      50  c9bfbbf9-db90-45a7-a72c-4118140038f4
789          marmschu      50  4caa2fb3-7ed2-436d-bc35-390feebfdebe
790            cajuuh      52  000ff655-fa9f-4baa-a108-47f581ec52a1

[791 rows x 3 columns]

In [69]:
PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\pandas\data\products.csv"

df = pd.read_csv(
    PATH,
    sep = ';',
    names=['Id','Names','Description']
)
df

,Id,Names,Description
0,1,ChatMessage,Mensagem do chat da Twitch
1,2,Resgatar Ponei,Poneis resgatados a partir dos pontos que a Tw...
2,3,Lista de presença,Assinatura da lista durante as lives (!presente)
3,4,Troca de Pontos StreamElements,Troca de cubos por datapoints
4,5,Presença Streak,Streak de pontos para quem tem recorrência de ...

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           5 non-null      int64
 1   Names        5 non-null      object
 2   Description  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [71]:
dict_nomes = {
    'Names':"Nomes",
    'Description':"Descrição"
}

df.rename(columns=dict_nomes, inplace=True)
df

,Id,Nomes,Descrição
0,1,ChatMessage,Mensagem do chat da Twitch
1,2,Resgatar Ponei,Poneis resgatados a partir dos pontos que a Tw...
2,3,Lista de presença,Assinatura da lista durante as lives (!presente)
3,4,Troca de Pontos StreamElements,Troca de cubos por datapoints
4,5,Presença Streak,Streak de pontos para quem tem recorrência de ...

### Importando XLSX (EXCEL) e parquet

In [73]:
PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\pandas\data\transactions.xlsx"

df = pd.read_excel(PATH)
df

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500
...,...,...,...,...
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23498,75b3856f-083d-4775-98c9-7a9791b4d693,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976,1
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [74]:
df.shape

(23502, 4)

In [75]:
df.head()

,UUID,IdCustomer,DtTransaction,Points
0,fb4e3102-6125-414e-b086-e7f641e38f93,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774,1
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643,1
2,10166182-a164-4608-8cdf-35e4450b2bd7,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728,500
3,03974c58-e86e-4b6b-8143-8f89ca870d09,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063,1
4,e84703a6-b606-4096-a2f3-514971c16c5c,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288,500

In [76]:
df.tail()

,UUID,IdCustomer,DtTransaction,Points
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083,1
23498,75b3856f-083d-4775-98c9-7a9791b4d693,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976,1
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024,1
23500,7429b0a5-08a5-470c-8091-12f627d21911,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565,50
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369,1

In [79]:
colunas = ['UUID', 'Points', 'IdCustomer', 'DtTransaction']

df = df[colunas]
df

,UUID,Points,IdCustomer,DtTransaction
0,fb4e3102-6125-414e-b086-e7f641e38f93,1,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:23.774
1,036b8d66-8adf-479b-ba0f-cb0e3207acb0,1,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 11:53:24.643
2,10166182-a164-4608-8cdf-35e4450b2bd7,500,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:11:44.728
3,03974c58-e86e-4b6b-8143-8f89ca870d09,1,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:19:41.063
4,e84703a6-b606-4096-a2f3-514971c16c5c,500,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-01-27 12:31:46.288
...,...,...,...,...
23497,25500149-c2b8-4942-90f7-39f136d9fb1b,1,2d7f6b3f-9366-44c1-9663-beb5f7e1254e,2024-03-04 12:24:18.083
23498,75b3856f-083d-4775-98c9-7a9791b4d693,1,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:24:27.976
23499,827a1417-902c-4657-a0e5-4cef5d2bd8ca,1,0ed6b09e-4329-4d2a-837b-2aad4796cd3a,2024-03-04 12:25:13.024
23500,7429b0a5-08a5-470c-8091-12f627d21911,50,f3a268f2-1788-47da-bc79-2680a1721254,2024-03-04 12:25:28.565
23501,07d25502-18a9-4107-b4af-9b5ba8b5a46d,1,5f8fcbe0-6014-43f8-8b83-38cf2f4887b3,2024-03-04 12:26:03.369

In [81]:
PATH = r"C:\Users\steph\OneDrive\Documentos\MeusProjetos\Estudos\pandas\data\transactions_cart.parquet"

df = pd.read_parquet(PATH)
df

,UUID,IdTransaction,Product,Quantity
0,52a8d2f8-c9d2-4dcc-b8ab-48992a3dbe8f,fb4e3102-6125-414e-b086-e7f641e38f93,ChatMessage,1
1,7c5bf868-38be-4532-a7b9-2283a4e414a4,036b8d66-8adf-479b-ba0f-cb0e3207acb0,ChatMessage,1
2,16994050-9ad6-4c03-b245-eb47680d3754,10166182-a164-4608-8cdf-35e4450b2bd7,Resgatar Ponei,1
3,56752b13-fb35-4c30-8f4b-033c606f718c,03974c58-e86e-4b6b-8143-8f89ca870d09,ChatMessage,1
4,164f6cd5-c510-45f9-882d-fd9f7d0de704,e84703a6-b606-4096-a2f3-514971c16c5c,Resgatar Ponei,1
...,...,...,...,...
23497,f6b3fdc1-3489-4757-874b-2ba3bdbfbbf1,25500149-c2b8-4942-90f7-39f136d9fb1b,ChatMessage,1
23498,8154636b-5fc9-4ec0-9564-ff9573f9a2b3,75b3856f-083d-4775-98c9-7a9791b4d693,ChatMessage,1
23499,114f515e-b29a-4714-a6ad-2a5437c72e75,827a1417-902c-4657-a0e5-4cef5d2bd8ca,ChatMessage,1
23500,83cf5662-2f1c-4112-a36e-404e28e241eb,7429b0a5-08a5-470c-8091-12f627d21911,Lista de presença,1
23501,8a11910b-1b57-484d-b618-7f1e20f2c93c,07d25502-18a9-4107-b4af-9b5ba8b5a46d,ChatMessage,1