# Series

In [1]:
import pandas as pd

In [2]:
idades = [10, 15, 25, 24, 36, 40]
idades

[10, 15, 25, 24, 36, 40]

In [3]:
series_idades = pd.Series(idades)

In [4]:
series_idades

0    10
1    15
2    25
3    24
4    36
5    40
dtype: int64

In [5]:
series_idades.mean()

np.float64(25.0)

In [6]:
series_idades.var()

np.float64(134.4)

In [7]:
series_idades.median()

np.float64(24.5)

In [8]:
series_idades.std()

np.float64(11.593101396951552)

In [9]:
series_idades.quantile(0.25)

np.float64(17.25)

In [10]:
series_idades.describe()

count     6.000000
mean     25.000000
std      11.593101
min      10.000000
25%      17.250000
50%      24.500000
75%      33.250000
max      40.000000
dtype: float64

In [11]:
series_idades.shape

(6,)

In [17]:
idades[3]

24

In [ ]:
series_idades[3] #-1 não funciona... pois estamos buscando um index

np.int64(24)

In [18]:
series_idades.index

RangeIndex(start=0, stop=6, step=1)

In [ ]:
series_idades.index = ['a', 'b', 'c', 'd', 'e', 'f'] #não recomendado
series_idades

a    10
b    15
c    25
d    24
e    36
f    40
dtype: int64

In [24]:
series_idades['a']

np.int64(10)

In [25]:
series_idades.index = [10, 45, 20, 15, 24, 70] #index pode ser qualquer coisa
series_idades

10    10
45    15
20    25
15    24
24    36
70    40
dtype: int64

In [27]:
series_idades[70] #buscar pelo índice

np.int64(40)

In [29]:
series_idades.iloc[3] #buscar pela posição, sem se importar com o índice

np.int64(24)

In [30]:
series_idades.iloc[0:2]

10    10
45    15
dtype: int64

In [32]:
series_idades.iloc[:5]

10    10
45    15
20    25
15    24
24    36
dtype: int64

In [33]:
series_idades.loc[24] #pegando pelo índice!

np.int64(36)

 ILOC É PELA POSIÇÃO, LOC É PELO ÍNDICE

In [35]:
series_idades.name = 'Idades'
series_idades

10    10
45    15
20    25
15    24
24    36
70    40
Name: Idades, dtype: int64

# Dataframes

In [36]:
data = {
    'nome': ['ste', 'nat', 'jack', 'gabi'],
    'sobrenome': ['resque', 'moreno', 'oliveira', 'borges'],
    'idade': [21, 21, 22, 22]
}

In [38]:
data['idade'][0]

21

In [39]:
df = pd.DataFrame(data)
df

   nome sobrenome  idade
0   ste    resque     21
1   nat    moreno     21
2  jack  oliveira     22
3  gabi    borges     22

In [ ]:
df['idade'] #series

0    21
1    21
2    22
3    22
Name: idade, dtype: int64

In [41]:
df['idade'].iloc[0]

np.int64(21)

Um dataframe é um conjunto de series, ou seja, cada coluna/linha é uma serie

In [42]:
df['sobrenome'].iloc[1]

'moreno'

In [ ]:
df.iloc[0] #acessei uma linha

nome            ste
sobrenome    resque
idade            21
Name: 0, dtype: object

In [44]:
type(df.iloc[0])

pandas.core.series.Series

In [45]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [46]:
df.columns

Index(['nome', 'sobrenome', 'idade'], dtype='object')

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nome       4 non-null      object
 1   sobrenome  4 non-null      object
 2   idade      4 non-null      int64
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [49]:
df.dtypes

nome         object
sobrenome    object
idade         int64
dtype: object

In [ ]:
df.describe() #aplica só para as colunas numéricas

          idade
count   4.00000
mean   21.50000
std     0.57735
min    21.00000
25%    21.00000
50%    21.50000
75%    22.00000
max    22.00000

In [51]:
df.head()

   nome sobrenome  idade
0   ste    resque     21
1   nat    moreno     21
2  jack  oliveira     22
3  gabi    borges     22